{# Confluence Preview Header #}
<div class="confluence-header">
    <div class="confluence-logo">⚡ Confluence Preview</div>
    <div class="confluence-breadcrumb">
        Space: {{ space_key }} / {{ api.info.title }}
    </div>
</div>

