<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ api.info.title }} - API Documentation</title>
    <style>
        {{ css_content }}
    </style>
</head>
<body>
    <div class="container">
        {# Header Section #}
        {% include 'partials/header.html.j2' %}

        {# Servers Section #}
        {% include 'partials/servers.html.j2' %}

        {# Tags Section #}
        {% include 'partials/tags.html.j2' %}

        {# Operations/Endpoints Section #}
        {% include 'partials/operations.html.j2' %}

        {# Data Schemas Section #}
        {% include 'partials/schemas.html.j2' %}

        {# Security Section #}
        {% include 'partials/security.html.j2' %}

        {# Footer Section #}
        {% include 'partials/footer.html.j2' %}
    </div>
</body>
</html>

